In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('student-por.csv')
df

    school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0    GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
1    GP;"F";17;"U";"GT3";"T";1;1;"at_home";"other";...
2    GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3    GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4    GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...
..                                                 ...
644  MS;"F";19;"R";"GT3";"T";2;3;"services";"other"...
645  MS;"F";18;"U";"LE3";"T";3;1;"teacher";"service...
646  MS;"F";18;"U";"GT3";"T";1;1;"other";"other";"c...
647  MS;"M";17;"U";"LE3";"T";3;1;"services";"servic...
648  MS;"M";18;"R";"LE3";"T";3;2;"services";"other"...

[649 rows x 1 columns]