In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('prestamos.csv')
df.describe()

        estado   nivel
count   450961  450961
unique       4       7
top     Actual       B
freq    321185  132370

In [3]:
df['numerica'] = np.random.randint(0, 50, (450961,))
df

                    estado nivel  numerica
0        Totalmente pagada     B         6
1       Cancelada (impago)     C        36
2        Totalmente pagada     C        26
3        Totalmente pagada     C        15
4                   Actual     B         6
...                    ...   ...       ...
450956              Actual     D        29
450957              Actual     D        19
450958              Actual     D        14
450959              Actual     D        10
450960   Totalmente pagada     A        10

[450961 rows x 3 columns]

In [4]:
df.describe()

            numerica
count  450961.000000
mean       24.510135
std        14.422466
min         0.000000
25%        12.000000
50%        25.000000
75%        37.000000
max        49.000000

In [5]:
df.describe(exclude=[np.number])

        estado   nivel
count   450961  450961
unique       4       7
top     Actual       B
freq    321185  132370

In [6]:
df['nivel'].value_counts()

nivel
B    132370
C    120875
D     74277
A     72490
E     34804
F     12904
G      3241
Name: count, dtype: int64

In [8]:
df['nivel'].value_counts(ascending=True)

nivel
G      3241
F     12904
E     34804
A     72490
D     74277
C    120875
B    132370
Name: count, dtype: int64

In [10]:
#se queda en porcentaje de 0 a 1, los datos se normalizan
df['estado'].value_counts(normalize=True)

estado
Actual                0.712223
Totalmente pagada     0.215797
Cancelada (impago)    0.050273
Tarde                 0.021707
Name: proportion, dtype: float64

In [12]:
tabla_nivel = df['nivel'].value_counts(normalize=True)
tabla_nivel

nivel
B    0.293529
C    0.268039
D    0.164708
A    0.160746
E    0.077177
F    0.028614
G    0.007187
Name: proportion, dtype: float64

In [13]:
print(f"porcentaje de creditos mediao-altos (B, C, D): {tabla_nivel["B":"D"].sum()}")
print(f"porcentaje de creditos mediao-altos (E, F, G): {tabla_nivel["E":"G"].sum()}")

porcentaje de creditos mediao-altos (B, C, D): 0.7262756646361881
porcentaje de creditos mediao-altos (E, F, G): 0.11297872765050636

In [14]:

tabla_estado = df['estado'].value_counts(normalize=True)
tabla_estado

estado
Actual                0.712223
Totalmente pagada     0.215797
Cancelada (impago)    0.050273
Tarde                 0.021707
Name: proportion, dtype: float64

In [18]:
print(f"clientes buenos: {tabla_estado["Actual":"Totalmente pagada"].sum()}")
print(f"clientes malos: {tabla_estado["Cancelada (impago)":"Tarde"].sum()}")

clientes buenos: 0.9280203831373444
clientes malos: 0.07197961686265553